<div><h4>
    End-User License Agreement ("Agreement")
</h4>
    <strong>Last updated: 2/21/18</strong>
    <h3>
        License
    </h3>
    <p>
        Identy Inc.grants you a revocable, non-exclusive, non-transferable, limited license to
        download, install and use the Application solely for your personal, non-commercial purposes
        strictly in accordance with the terms of this Agreement.
    </p>
    <h3>
        Restrictions
    </h3>
    <h3>You agree not to, and you will not permit others to:</h3>
    <p>
        a) license, sell, rent, lease, assign, distribute, transmit, host, outsource, disclose
        or otherwise commercially exploit the Application or make the Application available
        to any third party.
    </p>
    <h3>Modifications to Application</h3>
    <p>
        Identity Inc. reserves the right to modify, suspend or discontinue, temporarily or
        permanently, the Application or any service to which it connects, with or without notice
        and without liability to you.
    </p>
    <h3> Term and Termination</h3>
    <p>
        This Agreement shall remain in effect until terminated by you or Identy Inc.M
    </p>
    <p>
        Identity Inc. may, in its sole discretion, at any time and for any or no reason,
        suspend or terminate this Agreement with or without prior notice.
    </p>
    <p>
        This Agreement will terminate immediately, without prior notice from Identy Inc.,
        in the event that you fail to comply with any provision of this Agreement. You mayalso
        terminate this Agreement by deleting the Application and all copies thereof from your
        mobile device or from your desktop.
    </p>
    <p>
        Upon termination of this Agreement, you shall cease all use of the Application and
        delete all copies of the Application from your mobile device or from your desktop.
    </p>
    <h3>
        Severability
    </h3>
    <p>
        If any provision of this Agreement is held to be unenforceable or invalid, such provision
        will be changed and interpreted to accomplish the objectives of such provision to the
        greatest extent possible under applicable law and the remaining provisions will continue in
        full force and effect.
    </p>
    <h3>
        Amendments to this Agreement
    </h3>
    <p>
        Identy Inc. reserves the right, at its sole discretion, to modify or replace this Agreement
        at any time. If a revision is material we will provide at least 30 days' notice prior to any
        new terms taking effect. What constitutes a material change will be determined at our sole
        discretion.
    </p>
    <h3>Contact Information</h3>
    <p>
        If you have any questions about this Agreement, please contact us.
    </p></div>