<h1>Privacy Policy</h1>

Last Updated - Feb 1, 2018


<p>1 In order to continually innovate and improve the software, IDENTY may collect user data and
    usage statistics from the IDENTY App and any app using the IDENTY Software Development Kit (SDK)
    with the development token. Any IDENTY-enabled app using the production token will not transfer
    any personally identifiable user information to IDENTY including biometric data. Any data that
    is transferred to the server via IDENTY’s secure API is anonymized including but not limited to
    a unique identifier, associated IP address, software version number, image data, biometric data,
    and information about which and how tools and/or services in the SDK are being used.
</p>

<p>
    2 We will not disclose end user data to any third party without explicit approval from the user.
    This includes disclosures that will enable us to fulfill our business and product and service
    obligations,further allowing us to manage our business operations.
</p>

<p>
    3 The anonymous data collected is only used to operate our business, provide our products and
    services, improve existing products and services, develop new products and services, and to
    improve and personalize experiences interacting with the software. IDENTY will have theright to
    use and disclose usage data and anonymized user data for IDENTY’s legitimate business purposes;
    provided, however, that IDENTY will not use or disclose usage data or anonymized user data in a
    manner that would enable athird party to reasonably determine that such usage data or anonymized
    userdata originated from our customers’ use of the services or any individual end user’s use of
    an integrated application.
</p>

<p>
    4 Our Customers are solely responsible for providing all notices, and obtaining all consents, as
    required by applicable law in connection with the collection, use and disclosure of end user
    data. IDENTY may use end user data collected via the IDENTY SDK by our customers to provide the
    services to company.
</p>

<p>
    5 We may disclose what little personally identifiable information we do collect if required by
    law, such as to comply with a court ordered subpoena, or similar legal process when we believe
    disclosure is necessary to protect our rights, investigate fraud, or respond to a government
    request.
</p>

<p>
    6 Our privacy policy may be updated at any time to reflect changes in our practices or the laws
    governing them. Please review this document periodically for the latest updates.
</p>


Please contact us for more information at <a href="mailto:contact@identy.io">contact@identy.io</a>.
