<h1>Terms & Conditions</h1>

<h3>IDENTY App and Software Development Kit License Agreement</h3>

Last Updated: Feb 1, 2018


<h4>1. Introduction</h4>
<p>
    1.1 The IDENTY App and the Software Development Kit (referred to in this Agreement as the "SDKs"
    and specifically including the packaged library is licensed to you subject to the terms of the
    License Agreement. The License Agreement forms a legally binding contract between you and IDENTY
    in relation to your use of the SDKs.
</p><p>
    1.2 "Software" means the computer programs and documentation listed and described in Schedule A
    attached to this Agreement.
</p><p>
    1.3 "Install" means placing the Software on an electronic device’s data storage technology, such
    as a hard disk, solid state drive, USB memory device, or other secondary storage device.
</p><p>
    1.4 "Use" means (i) executing or loading the Software into computer RAM or other primary memory,
    and (ii) copying the Software for archival or emergency restart purposes.
</p><p>
    1.5 “You” means you as an individual, or as an individual who represents a company.
</p><p>
    1.6 "IDENTY" means IDENTY, Inc., a Delaware corporation with its principal place of business in
    Delaware, United States.
</p>

<h4>2. Accepting this License Agreement</h4>
<p>
    2.1 In order to use the SDKs, you must first agree to the License Agreement. You may not use the
    SDKs if you do not accept the License Agreement.
</p><p>
    2.2 By clicking to accept or using the SDKs, youhereby agree to the terms of the License
    Agreement.
</p><p>
    2.3 You may not use the SDKs and may not accept the License Agreement if you are a person barred
    from receiving the SDKs under the laws of the United States or other countries, including the
    country in which you are resident or from which you use the SDKs.
</p><p>
    2.4 If you are agreeing to be bound by the License Agreement on behalf of your employer or other
    entity, you represent and warrant that you have full legal authority to bind your employer or
    such entity to the License Agreement. If you do not have the requisite authority, you may not
    accept the License Agreement or use the SDKs on behalf of your employer or other entity.
</p>

<h4>3. SDK License from IDENTY</h4>
<p>
    3.1 Subject to the terms of the License Agreement, IDENTY grants you a limited, worldwide,
    royalty-free, non-assignable, non-exclusive, and non-sublicensable license to use the SDKs
    solely to develop applications for compatible implementations of Android and iOS.
</p><p>
    3.2 You may not use the SDKs to develop applications for platforms other than Android and iOS
    (including non-compatible implementations of either) or to develop another SDK. You are free to
    develop applications for other platforms, including non-compatible implementations of Android
    and iOS, provided that the SDKs are not used for that purpose.
</p><p>
    3.3 You agree that IDENTY or third parties own all legal rights, title and interest in and to
    the SDKs, including any Intellectual Property Rights that subsist in the SDKs. "Intellectual
    Property Rights" means any and all rights under patent law, copyright law, trade secret law,
    trademark law, and any and all other proprietary rights. IDENTYreserves all rights not expressly
    granted to you.
</p><p>
    3.4 You may not use the SDKs for any purpose notexpressly permitted by the License Agreement.
    Except to the extent required by applicable third party licenses, you may not copy (except for
    backup purposes), modify, adapt, redistribute, decompile, reverse engineer, disassemble, or
    create derivative works of the SDKs or any part of the SDKs.
</p><p>
    3.5 Use, reproduction and distribution of components of the SDKs are licensed under an open
    source software license are governedsolely by the terms of that open source software license and
    not the LicenseAgreement.
</p><p>
    3.6 You agree that the form and nature of the SDKs that IDENTY provides may change without prior
    notice to you and that futureversions of the SDKs may be incompatible with applications
    developed on previous versions of the SDKs. You agree that IDENTY may stop (permanently or
    temporarily) providing the SDKs (or any features within the SDKs) to you or to users generally
    at IDENTY's sole discretion, without prior notice to you.
</p><p>
    3.7 Nothing in the License Agreement gives you aright to use any of IDENTY's trade names,
    trademarks, service marks, logos,domain names, or other distinctive brand features in any
    materials, includingmarketing materials, social media, news articles, press releases and the
    like, unless otherwise explicitly stated.
</p><p>
    3.8 You agree that you will not remove, obscure, or alter any proprietary rights notices
    (including copyright and trademark notices) that may be affixed to or contained within the SDKs.
</p>

<h4>4. Use of the SDKs by You or Your Company</h4>
<p>
    4.1 IDENTY agrees that it obtains no right, title or interest from you (or your licensors) under
    the License Agreement in or to any software applications that you develop that include the SDKs,
    including anyintellectual property rights that subsist in those applications.
</p><p>
    4.2 You agree to use the SDKs and write applications only for purposes that are permitted by (a)
    the License Agreement and (b) any applicable law, regulation or generally accepted practices or
    guidelines in the relevant jurisdictions (including any laws regarding the export of data or
    software to and from the United States or other relevant countries).
</p><p>
    4.3 You agree that if you use the SDKs to develop applications for general public users, you
    will protect the privacy and legal rights of those users. If the users provide you with user
    names, passwords,biometric data or other login information or personally identifiable
    information (PII), you must make the users aware that the information will be available to your
    application, and you must provide legally adequate privacy notice and protection for those
    users. If your application stores personal or sensitive information provided by users, it must
    do so securely. If the user provides your application with IDENTY Account information, your
    application may only use that information to access the user's IDENTY Account when, and for the
    limited purposes for which, the user has given you permission to do so.
</p><p>
    4.4 You, the Licensee, will not reverse engineer, decompile, disassemble or otherwise attempt to
    derive the source code, techniques, processes, algorithms, know-how or other information from
    the binary code portions of the IDENTY Technology (collectively, "Reverse Engineering") or
    permit or induce the foregoing. If however, directly applicable law prohibits enforcement of the
    foregoing, Licensee may engage in Reverse Engineering solely for purposes of obtaining such
    information as isnecessary to achieve interoperability of independently created software withthe
    IDENTY Technology, or as otherwise and to the limited extent permitted by directly applicable
    law, but only if: (a) Reverse Engineering is strictly necessary to obtain such information; and
    (b) Licensee has first requested such information from IDENTY and IDENTY failed to make such
    information available (for a fee or otherwise) under reasonable terms and conditions. Any
    information supplied to or obtained by Licensee under this section is confidential information
    of IDENTY subject to the obligations of Section [confidentiality], may only be used by Licensee
    for the purpose described in this section, andwill not be disclosed to any third party or used
    to create any software which is substantially similar to the expression of the IDENTY
    Technology.
</p><p>
    4.5 You agree that you will not engage in any activity with the SDKs, including the development
    or distribution of an application, that interferes with, disrupts, damages, or accesses in an
    unauthorized manner the servers, networks, or other properties or services of any third party
    including, but not limited to, IDENTY or any mobile communications carrier.
</p><p>
    4.6 Prior to receiving a production token you may not engage in pre-sales, sales, marketing
    and/or business development activities without entering into a prior written agreement with
    IDENTY. You agree that any application (App) you develop and integrate with IDENTY SDKs while
    using a development token is restricted to internal purposes only. You agree not todemonstrate,
    showcase or advertise your IDENTY integrated app to any third party in person, at any meeting,
    event, trade show or similar occasion, or via digital media through any online channel such as
    but not limited to social media, online video or webinars
</p><p>
    4.7 You agree that you are solely responsible for (and that IDENTY has no responsibility to you
    or to any third party for) any data, content, or resources that you create, transmit or display
    through the SDKs, and for the consequences of your actions (including any loss or damage which
    IDENTY may suffer) by doing so.
</p><p>
    4.8 You agree that you will not bill any end users for the use of the SDKs in your applications
    and that the SDKs will always be available free of monetary charge or any other requirement;
    including entering of personally identifiable information, answering questions, viewing ads or
    any other form of required action or reciprocation.
</p><p>
    4.9 You agree that you are solely responsible for (and that IDENTY has no responsibility to you
    or to any third party for) any breach of your obligations under the License Agreement, any
    applicable third party contract or Terms of Service, or any applicable law or regulation, and
    for the consequences (including any loss or damage which IDENTY or any third party may suffer)
    of any such breach.
</p>

<h4>5. Your Developer Credentials</h4>
<p>
    5.1 You agree that you are responsible for maintaining the confidentiality of any developer
    credentials that may be issued to you by IDENTY or which you may choose yourself and that you
    will be solely responsible for all applications that are developed under your developer
    credentials.
</p>

<h4>6. Privacy and Information</h4>
<p>
    6.1 In order to continually innovate and improve the software, IDENTY may collect data and usage
    statistics from the IDENTY App and the Software Development Kit (SDKs) using the Development
    Token including but not limited to a unique identifier, associated IP address, version number of
    the software, images, biometric data, and information about which tools and/or services in the
    SDKs are being used and how they are being used. Please note, that when the SDKs are using a
    production token no images or biometric data ever leave the end-user’s device.
</p><p>
    6.2 The anonymous data collected is only used tooperate our business, provide our products and
    services, improve existing products and services, develop new products and services, and to
    improve and personalize your experiences interacting with the software
</p><p>
    6.3 We will not disclose your Personal Data to any third party without your approval as stated
    in our Privacy Policy. This includes disclosures that will enable us to fulfill our obligations
    to you, and allows us to manage our business operations.
</p><p>
    6.4 The data collected is examined in the aggregate to improve the SDKs and is maintained in
    accordance with IDENTY's Privacy Policy which can be found at www.identy.io.
</p>

<h4>7. Third Party Applications</h4>

<p>
    7.1 If you use the SDKs to run applications developed by a third party or that access data,
    content or resources provided by a third party, you agree that IDENTY is not responsible for
    those applications, data, content, or resources. You understand that all data, content or
    resources which you may access through such third party applications are the sole responsibility
    of the person from which they originated and that IDENTY is not liable for any loss or damage
    that you may experience as a result of the use or access of any of those third party
    applications, data, content, or resources.
</p><p>
    7.2 You should be aware the data, content, and resources presented to you through such a third
    party application may be protected by intellectual property rights which are owned by the
    providers (or by other persons or companies on their behalf). You may not modify, rent, lease,
    loan, sell, distribute or create derivative works based on these data, content, or resources
    (either in whole or in part) unless you have been specifically given permission to do so by the
    relevant owners.
</p><p>
    7.3 You acknowledge that your use of such third party applications, data, content, or resources
    may be subject to separate terms between you and the relevant third party. In that case, the
    License Agreement does not affect your legal relationship with these third parties.
</p>
<h4>8. Using IDENTY APIs</h4>

<h4>8.1 IDENTY Data APIs</h4>

<p>
    8.1.1 If you use any API to retrieve data from IDENTY, you acknowledge that the data may be
    protected by intellectual property rights which are owned by IDENTY or those parties that
    provide the data (or by other persons or companies on their behalf). Your use of any such API
    may be subject to additional Terms of Service. You may not modify, rent, lease, loan, sell,
    distribute or create derivative works based on this data (either in whole or in part) unless
    allowed by the relevant Terms of Service.
</p><p>
    8.1.2 If you use any API to retrieve a user's data from IDENTY, you acknowledge and agree that
    you shall retrieve data only with the user's explicit consent and only when, and for the limited
    purposes forwhich, the user has given you permission to do so.
</p>

<h4>9. Terminating this License Agreement</h4>
<p>
    9.1 The License Agreement will continue to apply until terminated by either you or IDENTY as set
    forth below.
</p><p>
    9.2 If you want to terminate the License Agreement, you may do so by ceasing your use of the
    SDKs and any relevant developer credentials.
</p><p>
    9.3 IDENTY may at any time, terminate the License Agreement with you if:
</p>
<ul>
    <li>you have breached any provision of the License Agreement; or</li>
    <li>IDENTY is required to do so by law; or</li>
    <li>the partner with whom IDENTY offered certain parts of the SDKs (such as APIs) to you has
        terminated its relationship with IDENTY or ceased to offer certain parts of the SDKs to you;
        or
    </li>
    <li>IDENTY decides to no longer provide the SDKs or certain parts of the SDKs to users in the
        country in which you are resident or from which you use the service, or the provision of the
        SDKs or certain services in the SDKs to you by IDENTY is, at IDENTY's sole discretion, no
        longer commercially viable
    </li>
</ul>
<p>9.4 When the License Agreement comes to an end, all of the legal rights, obligations and
    liabilities that you and IDENTY have benefited from, been subject to (or which have accrued over
    time whilst theLicense Agreement has been in force) or which are expressed to continue
    indefinitely, shall be unaffected by this cessation, and the provisions of paragraph 14.7 shall
    continue to apply to such rights, obligations and liabilities indefinitely. IDENTY will however
    retain the rights to all data from you and end users collected over the term of the license
    agreement.
</p>

<h4>10. Disclaimer of Warranties</h4>
<p>
    10.1 YOU EXPRESSLY UNDERSTAND AND AGREE THAT YOUR USE OF THE SDKs IS AT YOUR SOLE RISK AND THAT
    THE SDKs ARE PROVIDED "AS IS" AND "AS AVAILABLE" WITHOUT WARRANTY OF ANY KIND FROM IDENTY.
</p><p>
    10.2 YOUR USE OF THE SDKs AND ANY MATERIAL DOWNLOADED OR OTHERWISE OBTAINED THROUGH THE USE OF
    THE SDKs IS AT YOUR OWN DISCRETION AND RISK AND YOU ARE SOLELY RESPONSIBLE FOR ANY DAMAGE TO
    YOUR COMPUTER SYSTEM OR OTHER DEVICE OR LOSS OF DATA THAT RESULTS FROM SUCH USE.
</p><p>
    10.3 IDENTY FURTHER EXPRESSLY DISCLAIMS ALL WARRANTIES AND CONDITIONS OF ANY KIND, WHETHER
    EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO THE IMPLIED WARRANTIES AND CONDITIONS OF
    MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT.
</p>

<h4>11. Limitation of Liability</h4>
<p>
    11.1 YOU EXPRESSLY UNDERSTAND AND AGREE THAT IDENTY, ITS SUBSIDIARIES AND AFFILIATES, AND ITS
    LICENSORS SHALL NOT BE LIABLE TO YOU UNDER ANY THEORY OF LIABILITY FOR ANY DIRECT, INDIRECT,
    INCIDENTAL, SPECIAL, CONSEQUENTIAL OR EXEMPLARY DAMAGES THAT MAY BE INCURRED BY YOU, INCLUDING
    ANY LOSS OF DATA, WHETHER OR NOT IDENTY OR ITS REPRESENTATIVES HAVE BEEN ADVISED OF OR SHOULD
    HAVE BEEN AWARE OF THE POSSIBILITY OF ANY SUCH LOSSES ARISING.
</p>

<h4>
    12. Indemnification</h4>
<p>
    12.1 To the maximum extent permitted by law, youagree to defend, indemnify and hold harmless
    IDENTY, its affiliates and their respective directors, officers, employees and agents from and
    against any and all claims, actions, suits or proceedings, as well as any and all losses,
    liabilities, damages, costs and expenses (including reasonable attorneys fees) arising out of or
    accruing from (a) your use of the SDKs, (b) any application you develop with the SDKs that
    infringes any copyright, trademark, trade secret, trade dress, patent or other intellectual
    property right of any person or defames any person or violates their rights of publicity or
    privacy, and (c) any non-compliance by you with the License Agreement.
</p>

<h4>13. Changes to the License Agreement</h4>
<p>
    13.1 IDENTY may make changes to the License Agreement as it distributes new versions of the
    SDKs. When these changes are made, IDENTY will make a new version of the License Agreement
    available on the website where the SDKs are made available.
</p>

<h4>14. General Legal Terms</h4>
<p>
    14.1 The License Agreement constitutes the wholelegal agreement between you and IDENTY and
    governs your use of the SDKs (excluding any services which IDENTY may provide to you under a
    separate written agreement), and completely replaces any prior agreements between you and IDENTY
    in relation to the SDKs.
</p><p>
    14.2 You agree that if IDENTY does not exercise or enforce any legal right or remedy which is
    contained in the License Agreement (or which IDENTY has the benefit of under any applicable
    law), this will not be taken to be a formal waiver of IDENTY's rights and that those rights or
    remedies will still be available to IDENTY.
</p><p>
    14.3 If any court of law, having the jurisdiction to decide on this matter, rules that any
    provision of the License Agreement isinvalid, then that provision will be removed from the
    License Agreement without affecting the rest of the License Agreement. The remaining provisions
    of the License Agreement will continue to be valid and enforceable.
</p><p>
    14.4 You acknowledge and agree that each member of the group of companies of which IDENTY is the
    parent shall be third party beneficiaries to the License Agreement and that such other companies
    shall be entitled to directly enforce, and rely upon, any provision of the License Agreement
    that confers a benefit on (or rights in favor of) them. Other than this, no other person or
    company shall be third party beneficiaries to the License Agreement.
</p><p>
    14.5 EXPORT RESTRICTIONS. THE SDKs ARE SUBJECT TO UNITED STATES EXPORT LAWS AND REGULATIONS. YOU
    MUST COMPLY WITH ALL DOMESTIC AND INTERNATIONAL EXPORT LAWS AND REGULATIONS THAT APPLY TO THE
    SDKs. THESELAWS INCLUDE RESTRICTIONS ON DESTINATIONS, END USERS AND END USE.
</p><p>
    14.6 The rights granted in the License Agreement may not be assigned or transferred by either
    you or IDENTY without the prior written approval of the other party. Neither you nor IDENTY
    shall be permitted to delegate their responsibilities or obligations under the License Agreement
    without the prior written approval of the other party.
</p>
<p>
    14.7 The parties agree to submit any dispute under this License Agreement to binding arbitration
    under the rules of the American Arbitration Association in the following location: Delaware.
    Judgement upon the award rendered by the arbitrator may be entered in any court with
    jurisdiction to do so.
</p>
<p>
    14.8 If arbitration does not satisfy a dispute, the License Agreement, and your relationship
    with IDENTY under the License Agreement, shall be governed by the laws of the State of Delaware
    without regard to its conflict of laws provisions. You and IDENTY agree to submit to the
    exclusive jurisdiction of the courts located within the county of Delaware to resolve any legal
    matter arising from the License Agreement. Notwithstanding this, you agree that IDENTY shall
    still be allowed to apply for injunctive remedies (or an equivalent type of urgent legal relief)
    in any jurisdiction.
</p>
<p>14.9 If any legal action is necessary to enforce this License Agreement, the prevailing party
    shall be entitled to reasonable attorney fees, costs and expenses and any other relief to which
    it may be entitled.
</p>
